.dialog-background {
    -fx-background-color: #737373;
}

.choice-box .label {
    -fx-text-fill: white !important;
}
.label {
    -fx-font-family: "Segoe UI Emoji", "Arial";
    -fx-font-size: 16px;
}
